@import "tailwindcss";

@layer base {
  * {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
  }

  body {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    background-color: var(--color-graphite-900);
  }
}

@theme {
  --color-graphite-100: #323232;
  --color-graphite-200: #2D2D2D;
  --color-graphite-300: #282828;
  --color-graphite-400: #232323;
  --color-graphite-500: #1E1E1E;
  --color-graphite-600: #191919;
  --color-graphite-700: #141414;
  --color-graphite-800: #0F0F0F;
  --color-graphite-900: #0A0A0A;
}

@layer utilities {
  .bg-graphite-100 { background-color: var(--color-graphite-100); }
  .bg-graphite-200 { background-color: var(--color-graphite-200); }
  .bg-graphite-300 { background-color: var(--color-graphite-300); }
  .bg-graphite-400 { background-color: var(--color-graphite-400); }
  .bg-graphite-500 { background-color: var(--color-graphite-500); }
  .bg-graphite-600 { background-color: var(--color-graphite-600); }
  .bg-graphite-700 { background-color: var(--color-graphite-700); }
  .bg-graphite-800 { background-color: var(--color-graphite-800); }
  .bg-graphite-900 { background-color: var(--color-graphite-900); }

  .text-graphite-100 { color: var(--color-graphite-100); }
  .text-graphite-200 { color: var(--color-graphite-200); }
  .text-graphite-300 { color: var(--color-graphite-300); }
  .text-graphite-400 { color: var(--color-graphite-400); }
  .text-graphite-500 { color: var(--color-graphite-500); }
  .text-graphite-600 { color: var(--color-graphite-600); }
  .text-graphite-700 { color: var(--color-graphite-700); }
  .text-graphite-800 { color: var(--color-graphite-800); }
  .text-graphite-900 { color: var(--color-graphite-900); }

  .shadow-3xl {
    box-shadow: 20px 20px 20px 20px;
  }
}